/* EXPERIMENTAL TOUCH AT YOUR OWN RISK*/
/* this is hotfix for the margin in between the different sections
caused due the h2 and the p tags */
h2, p {
  margin: 0;
}

/* GOD LEVEL CSS */
.the--website {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  max-width: 580px;
  background-color: #23252C;
  font-family: Inter, sans-serif;
  color: white;
}

.the--content {
  padding-left: 120px;
  padding-right: 120px;
}

/* TOP IMAGE SECTION */
.top--div {}

.top--img {
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

/* MAIN CONTENT SECTION */
h2, p {
  padding: 0 30px 0 30px;
}

h2 {
  padding-top: 1.1rem;
  font-size: 1.5rem;
  font-weight: 550;
}

p {
  font-size: .85rem;
}

.main--all {
  background-color: #1A1B21;
  padding-bottom: 1.5rem;
}

.personal--text {
  text-align: center;
}

.name--text {
  /* margin-top: .8rem; */
  padding-top: .8rem;
  font-size: 2rem;
  font-weight: 700;
}

.name--sp {
  color: pink;
}

.main--img {
  width: 33px;
  margin-right: 10px;
}

.button {
  margin-top: 15px;
  min-width: 120px;
}

.button--email {
  margin-left: 8%;
  margin-right: 8%;
}

.button--linkedin {
  margin-right: 8%;
}

/* FOOTER SECTION  */
.footer--all {
  background-color: #696969;
  text-align: center;
  border-radius: 0rem 0rem 1rem 1rem;
}

.footer--img {
  border: 0 0 0 0;
  padding: .33rem;
  width: 50px;
}

.footer--pivot {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
